.form-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-row {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    position: absolute;
    left: 80%;
    transform: translateX(-80%);
}

input {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.article p {
    text-align: justify;
}