<main>
<h1>Gestion des utilisateurs</h1>

<form (ngSubmit)="addUser(userName.value, email.value); userName.value = ''; email.value = ''" class="form-card">
  <h2>Ajouter un nouvel utilisateur 🐥 :</h2>
  <input #userName type="text" placeholder="Nom d'utilisateur" required>
  <input #email type="email" placeholder="email" required>
  <button type="submit">Ajouter</button>
</form>

<div class="user-list">  
    <h2> Liste des utilisateurs :</h2>
    <ul>
  @for (user of users(); track user.id) {
    <li class="user-row"><span>{{ user | appFormatUser }}</span>
      <button (click)="deleteUser(user.id)">Supprimer</button><br>
    </li>
  }
    </ul>
</div>
<div id="articles">
    <h2> Liste des articles :</h2>

  @for (article of articles(); track article.id) {
    <div class="article">
      <h3>{{ article.titre }}</h3>
      <p>Par {{ article.auteur }}</p>
      <p>{{ article.texte }}</p>
    </div>
  }
</div>
</main>